@model merge_EIP.Models.DepEmp
@{
    ViewBag.Title = "員工資料";
}

<div class="container">
    <br />
    <h2 class="font-weight-bold">員工資料</h2>
    <div class="btn-group" role="group" aria-label="Basic example">
        @foreach (var item in Model.department)
        {
            @Html.ActionLink(item.departmentName, "Contact", new { depId = item.departmentID }, new { @class = "btn btn-FB" })
        }
    </div>
    <br />
    <br />

    <div class="table-responsive">
        <table class="table" id="sort-table">
            <tr>
                <th>員工編號</th>
                <th>姓名</th>
                <th>性別</th>
                <th>到職日</th>
                <th>聯絡電話</th>
                <th>地址</th>
                <th>緊急聯絡人</th>
                <th>緊急聯絡人電話</th>
            </tr>
            @foreach (var item in Model.employee)
            {
                <tr>
                    <td>@item.employeeID</td>
                    <td>@item.Name</td>
                    <td>@item.Gender</td>
                    <td>@item.onBoard</td>
                    <td>@item.cellPhone</td>
                    <td>@item.Address</td>
                    <td>@item.emergencyContact</td>
                    <td>@item.emergencyContactphone</td>
                    @*<td>@Html.ActionLink("刪除", "Delete", new { fEmpId = item.fEmpId }, new { onclick = "return confirm('確定刪除嗎?');", @class = "btn btn-danger" })</td>*@
                </tr>
            }
        </table>

    </div>
</div>

