@model merge_EIP.Models.workOvertime

@{
    ViewBag.Title = "加班單申請表";
}
<div class="container p-33">

    <br />
    <h2>加班單申請表</h2>
    <hr />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.employeeID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Session["ID"]
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.employeeName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Session["Name"]
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        ▸ @Html.LabelFor(model => model.startTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.startTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                            @Html.ValidationMessageFor(model => model.startTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        ▸ @Html.LabelFor(model => model.expectTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.expectTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                            @Html.ValidationMessageFor(model => model.expectTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control", maxlength = "200" } })
                            @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <br>
                <form>
                    <div>
                        <p style="font-size: x-large;"><b><u>勞動基本法加班權益 :</u></b></p>
                        <ul>
                            <li>工時</li>
                            <p>
                                <small>
                                    勞工正常工作時間，每日不得超過8小時，每週不得超過40小時。<br>
                                    每月延長工作時間總時數不得超過46小時
                                </small>
                            </p>
                            <li>加班費</li>
                            <p>
                                <small>
                                    延長工作時間在2小時以內者，按平日每小時工資額加給1/3以上。<br>
                                    再延長工作時間在2小時以內者，按平日每小時工資額加給2/3以上。
                                </small>
                            </p>
                            <li>例假及休息日</li>
                            <p>
                                <small>勞工每7日中應有2日之休息，其中1日為例假，1日為休息日。<br>雇主如有於週間更動之需要，除應與勞工協商合意外，仍應謹守<br>「不得連續工作逾6日」之前提。</small>
                            </p>
                            <li>
                                其他詳情請參考 : <a href="https://www.mol.gov.tw/topic/3066/5837/19493/"><u>勞動部基準法相關簡介</u></a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="申請" class="btn FileUpBtn float-right" />
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    }
</div>